.d-track {
    background-color: #f5f5f5;
    margin-top: 70px;
}

.cal {
    color: #eda268;
}

.carbo {
    color: #913048;
}

.pro {
    color: #6ed475;
}

.fats {
    color: #d062f5;
}

.negative {
    color: red;
}